# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env

# mac / windows
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# build
*.apk
*.aab

# cache
.cache/
